@media only screen and (min-width: 320px) and (max-width: 480px) {
  .api-request-tester-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-content: center;
    gap: 1rem;
    width: 90%;
    margin: 3rem auto;
    padding: 20px;
    box-shadow: 0 0 2rem 1rem #c7cbf2;
    border-radius: 1rem;
  }
  .project-description-container .headline {
    font-size: 1.5em;
  }
  .project-description-container .description {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .api-request-tester-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    place-content: center;
    gap: 1rem;
    width: 90%;
    margin: 3rem auto;
    padding: 20px;
    box-shadow: 0 0 2rem 1rem #c7cbf2;
    border-radius: 1rem;
  }
  .project-description-container .headline {
    font-size: 1.5em;
  }
  .project-description-container .description {
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .api-request-tester-container {
    width: 90%;
  }
}
